:root {
  --primary-color: #21bcff;
  --secondary-color: #ffa600;
  --background-color: #dadadd;
  --text-color: #292524;
  --accent-color: #fff085;
  --primary-font: Inter, Roboto, Open Sans;
  --headings: font-weight: 600;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  align-items: center;
  background-color: var(--background-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--text-color);
  background-color: var(--primary-color);
  font-family: var(--primary-font);

  #logo {
    font-size: 1.5rem;
    font-weight: var(--headings);

    & img {
      height: 100px;
      width: auto;
      border-radius: 50%;
      border: solid 1px var(--text-color);
    
      &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
      }
    }
  }

  & button {
    background: var(--background-color);
    border: solid 2px var(--text-color);
    border-radius: 5px;
    cursor: pointer;

    & img {
      height: 40px;
    }

    &:hover {
      background-color: #fff085;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: var(--text-color);
  text-align: center;

  #card-container {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 30px;
  }

  #card {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--text-color);

    &:hover {
      cursor: pointer;
      background-color: var(--accent-color);
      transform: translateY(-10px);
      box-shadow: 0 15px 25px rgba(0,0,0,0.30);
      transition: transform 0.3s ease;
    }

    & img {
      width: 100px;
      height: 100px;
    }
  }
}

#section-1, #section-2 {
  background-color: var(--background-color);
  width: 200px;
  height: 100px;
  margin: 1rem;
  border-radius: 5%;
}

footer {
  text-align: center;
  padding: 1rem 2rem;
  color: var(--text-color);
  background-color: var(--primary-color);
}

@media screen and (max-width: 600px) {
  main {
    padding: 1rem;

    #card-container {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    #card {
      width: 100%;
      height: auto;
    }
  }
}